# Markdown Snippets

# Imgae Placeholder Snippet
snippet img
	![](${1})
# Regular Bold Text Snippet
snippet bb
	**${1}**
# Regular Italic Text Snippet
snippet ii
	*${1}*
# Bold inside Italic Text Snippet
snippet bbi
	__${1}__

