# Markdown Snippets

# Imgae Placeholder Snippet
snippet img
	![](${1})
# Regular Bold Text Snippet
snippet bb
	**${1}**
# Regular Italic Text Snippet
snippet ii
	*${1}*
# Bold inside Italic Text Snippet
snippet bbi
	__${1}__
# Working on it snippet
snippet dev
	<h4 align="center">⚠️ Currently Under Development ⚠️</h4>
snippet title
	<h1 align="center">${1:Title}</h1>
snippet code
	\`\`\`${1:Language}
	${2:Code}
	\`\`\`
snippet ic
	\`${1:Code}\`${2}
